---
layout: default
title: Colors of the Wind
---
<div style="margin:auto; width:100%; max-width:1000px; min-width:200px;">
	<div style="text-align:center;">
		<h1>Colors of the Wind</h1>
	</div>

	<div style="display:flex; flex-wrap:wrap; justify-content:center;">
		<div style="text-align:center; margin:15px;">
			<img src="https://www.tralinge.com/english_corner/songs/colors_of_the_wind/pocahontas.png" 
				alt="Pocahontas" width="300" height="300" style="border-radius:30%; width:100%; 
				max-width:250px; min-width:150px; height:auto;">
		</div>
        
        <div style="width:100%; max-width:300px; margin:auto;">
        	<p>
            	Pocahontas was a Native American, who lived near the English settlement of Jamestown, Virginia (USA). Born around the 15th century (~1600), she was the daughter of a powerful native leader. During this time, there was a lot of anger between the native groups and the English settlers, partly based on cultural differences. These different views of the world are what Pocahontas is singing about in this song.
            </p>
        </div>

		<div style="text-align:center; min-width:150px; margin:15px;">
			<div>
				<h2 class="subheading">New Words</h2>
            </div>

			<div style="display:flex; justify-content:center; flex-wrap:wrap; width:100%; margin:5px;">


				<div>
					<a href="https://www.tralinge.com/english_corner/songs/colors_of_the_wind/colorswind1.pdf" target="_blank">
						<img class="picshad" src="https://www.tralinge.com/english_corner/songs/colors_of_the_wind/colorswind1.PNG" 
							alt="part 1" style="border-radius:30%; width:100%; max-width:100px; min-width:50px; height:auto; 
						   	margin:5px;">
					</a>
					
					<div>
						Part 1
					</div>
				</div>

				<div>
					<a href="https://www.tralinge.com/english_corner/songs/colors_of_the_wind/colorswind2.pdf" target="_blank">
						<img class="picshad" src="https://www.tralinge.com/english_corner/songs/colors_of_the_wind/colorswind2.PNG" 
							alt="part 2" style="border-radius:30%; width:100%; max-width:100px; min-width:50px; height:auto; 
						   	margin:5px;">
					</a>
					
					<div>
						Part 2
					</div>
				</div> 

				<div>
					<a href="https://www.tralinge.com/english_corner/songs/colors_of_the_wind/colorswind3.pdf" target="_blank">
						<img class="picshad" src="https://www.tralinge.com/english_corner/songs/colors_of_the_wind/colorswind3.PNG" 
							alt="part 3" style="border-radius:30%; width:100%; max-width:100px; min-width:50px; height:auto; 
						   	margin:5px;">
					</a>
					
					<div>
						Part 3
					</div>
				</div> 
			</div>
		</div>
	
		<div style="width:100%; display:flex; flex-wrap:wrap; justify-content:center;">			
			<div class="audioheading">
            	<div>
					Audio Slow
                </div>
                
				<audio controls>
					<source src="https://www.tralinge.com/english_corner/songs/colors_of_the_wind/colorswindslow.ogg" type="audio/ogg">
					<source src="https://www.tralinge.com/english_corner/songs/colors_of_the_wind/colorswindslow.mp3" type="audio/mpeg">
					Your browser does not support the audio element.
				</audio>
			</div>

			<div class="audioheading">
            	<div>
					Audio Normal
                </div>
                
                <audio controls>
                  <source src="https://www.tralinge.com/english_corner/songs/colors_of_the_wind/colorswind.ogg" type="audio/ogg">
                  <source src="https://www.tralinge.com/english_corner/songs/colors_of_the_wind/colorswind.mp3" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
			</div>
			
			<div class="audioheading">
            	<div>
					Audio with Guitar
                </div>
                
                <audio controls>
                  <source src="https://www.tralinge.com/english_corner/songs/colors_of_the_wind/colorswindguitar.ogg" type="audio/ogg">
                  <source src="https://www.tralinge.com/english_corner/songs/colors_of_the_wind/colorswindguitar.mp3" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
			</div>
		</div>
		
		<div style="width:100%; display:flex; flex-wrap:wrap; justify-content:center; max-width:950px;">
        	<div class="subheading">
        		Lyrics
            </div>
        	<div style="text-align:left; width:350px; font-size:1.2em; margin:auto; margin-top:0px;">
            	<strong>1</strong><br>
                You think I'm an ignorant savage<br>
                And you've been so many places<br>
                I guess it must be so<br>
                But still I cannot see<br>
                If the savage one is me<br>
                How can there be so much that you don't know<br>
                You don't know<br><br>
			</div>
            
            <div style="text-align:left; width:350px; font-size:1.2em; margin:auto; margin-top:0px;">
                <strong>2</strong><br>
                You think you own whatever land you land on<br>
                The Earth is just a dead thing you can claim<br>
                But I know every rock and tree and creature<br>
                Has a life, has a spirit, has a name<br><br>
                You think the only people who are people<br>
                Are the people who look and think like you<br>
                But if you walk the footsteps of a stranger<br>
                You'll learn things you never knew, you never knew<br><br>
      		</div>
            
            <div style="text-align:left; width:350px; font-size:1.2em; margin:auto; margin-top:0px;">
                <strong>3</strong><br>
                Have you ever heard the wolf cry to the blue corn moon<br>
                Or asked the grinning bobcat why he grinned<br>
                Can you sing with all the voices of the mountains<br>
                Can you paint with all the colors of the wind<br>
                Can you paint with all the colors of the wind<br><br>
       		</div>
            
            <div style="text-align:left; width:350px; font-size:1.2em; margin:auto; margin-top:0px;">
            	<strong>4</strong><br>
                Come run the hidden pine trails of the forest<br>
                Come taste the sun sweet berries of the Earth<br>
                Come roll in all the riches all around you<br>
                And for once, never wonder what they're worth<br>
                The rainstorm and the river are my brothers<br>
                The heron and the otter are my friends<br>
                And we are all connected to each other<br>
                In a circle, in a hoop that never ends<br><br>
			</div>
            
            <div style="text-align:left; width:350px; font-size:1.2em; margin:auto; margin-top:0px;">
            	<strong>5</strong><br>
                How high will the sycamore grow<br>
                If you cut it down, then you'll never know<br>
                And you'll never hear the wolf cry to the blue corn moon<br>
                For whether we are white or copper skinned<br>
                We need to sing with all the voices of the mountains<br>
                We need to paint with all the colors of the wind<br><br>
            </div>
            
            <div style="text-align:left; width:350px; font-size:1.2em; margin:auto; margin-top:0px;">
            	<strong>6</strong><br>
                You can own the Earth and still<br>
                All you'll own is Earth until<br>
                You can paint with all the colors of the wind<br><br>
            </div>
		</div>
			
<!--
		<div style="width:100%; font-size:1.5em; font-weight:bold; background-color:#99ddff;">
			Embedded Video
		</div>
-->
	</div>
	
	<div style="display:flex; flex-wrap:wrap; justify-content:center;">
		<h1 style="width:100%; text-align:center;">More Songs</h1>
		
		{% include song_links.html %}    
	</div>
	
	<div class="notecomments">
        {% include disqus.html %}	 
    </div>
</div>
