---
layout: default
title: Tralinge | Worksheets - Phonics
---

{% include responsive.html %}

<body>

	<h1>Phonics Worksheets</h1>
		<h2>Phonics Stories</h2>
			<div class="responsive">
			  <div class="gallery">
				<a target="_blank" href="http://www.tralinge.com/english_corner/worksheets/phonics/craig 1of3.jpg">
						<img src="http://www.tralinge.com/english_corner/worksheets/phonics/craig 1of3.jpg" alt="craig 1/3" width="400">
				</a>
				<div class="desc">Phonics Stories - cr/cl - Craig the Crazy Crow 1/3</div>
			  </div>
			</div>

			<div class="responsive">
			  <div class="gallery">
				<a target="_blank" href="http://www.tralinge.com/english_corner/worksheets/phonics/craig 2of3.jpg">
						<img src="http://www.tralinge.com/english_corner/worksheets/phonics/craig 2of3.jpg" alt="craig 2/3" width="400">
				</a>
				<div class="desc">Phonics Stories - cr/cl - Craig the Crazy Crow 2/3</div>
			  </div>
			</div>

			<div class="responsive">
			  <div class="gallery">
				<a target="_blank" href="http://www.tralinge.com/english_corner/worksheets/phonics/craig 3of3.jpg">
						<img src="http://www.tralinge.com/english_corner/worksheets/phonics/craig 3of3.jpg" alt="craig 3/3" width="400">
				</a>
				<div class="desc">Phonics Stories - cr/cl - Craig the Crazy Crow 3/3</div>
			  </div>
			</div>

			<div class="responsive">
			  <div class="gallery">
				<a target="_blank" href="http://www.tralinge.com/english_corner/worksheets/phonics/chad 1of3.jpg">
						<img src="http://www.tralinge.com/english_corner/worksheets/phonics/chad 1of3.jpg" alt="chad 1/3" width="400">
				</a>
				<div class="desc">Phonics Stories - ch/sh - Chad the Chewy Chicken 1/3</div>
			  </div>
			</div>

			<div class="responsive">
			  <div class="gallery">
				<a target="_blank" href="http://www.tralinge.com/english_corner/worksheets/phonics/chad 2of3.jpg">
						<img src="http://www.tralinge.com/english_corner/worksheets/phonics/chad 2of3.jpg" alt="chad 2/3" width="400">
				</a>
				<div class="desc">Phonics Stories - ch/sh - Chad the Chewy Chicken 2/3</div>
			  </div>
			</div>

			<div class="responsive">
			  <div class="gallery">
				<a target="_blank" href="http://www.tralinge.com/english_corner/worksheets/phonics/chad 3of3.jpg">
						<img src="http://www.tralinge.com/english_corner/worksheets/phonics/chad 3of3.jpg" alt="chad 3/3" width="400">
				</a>
				<div class="desc">Phonics Stories - ch/sh - Chad the Chewy Chicken 3/3</div>
			  </div>
			</div>	

			<div class="responsive">
			  <div class="gallery">
				<a target="_blank" href="http://www.tralinge.com/english_corner/worksheets/phonics/preema 1of2.jpg">
						<img src="http://www.tralinge.com/english_corner/worksheets/phonics/preema 1of2.jpg" alt="preema 1/2" width="400">
				</a>
				<div class="desc">Phonics Stories - pl/pr - Preema the Pretty Princess 1/2</div>
			  </div>
			</div>

			<div class="responsive">
			  <div class="gallery">
				<a target="_blank" href="http://www.tralinge.com/english_corner/worksheets/phonics/preema 2of2.jpg">
						<img src="http://www.tralinge.com/english_corner/worksheets/phonics/preema 2of2.jpg" alt="preema 2/2" width="400">
				</a>
				<div class="desc">Phonics Stories - pl/pr - Preema the Pretty Princess 2/2</div>
			  </div>
			</div>		

			<div class="responsive">
				<div class="gallery">
				<a target="_blank" href="http://www.tralinge.com/english_corner/worksheets/phonics/Scar 1of2.jpg">
						<img src="http://www.tralinge.com/english_corner/worksheets/phonics/Scar 1of2.jpg" alt="scar 1/2" width="400">
				</a>
				<div class="desc">Phonics Stories - sc/sk - Scar the Scary Skeleton 1/2</div>
			  </div>
			</div>

			<div class="responsive">
			  <div class="gallery">
				<a target="_blank" href="http://www.tralinge.com/english_corner/worksheets/phonics/Scar 2of2.jpg">
						<img src="http://www.tralinge.com/english_corner/worksheets/phonics/Scar 2of2.jpg" alt="scar 2/2" width="400">
				</a>
				<div class="desc">Phonics Stories - sc/sk - Scar the Scary Skeleton 2/2</div>
			  </div>
			</div>

			<div class="responsive">
			  <div class="gallery">
				<a target="_blank" href="http://www.tralinge.com/english_corner/worksheets/phonics/troy 1of2.jpg">
						<img src="http://www.tralinge.com/english_corner/worksheets/phonics/troy 1of2.jpg" alt="troy 1/2" width="400">
				</a>
				<div class="desc">Phonics Stories - tr - Troy the Trash Trucker 1/2</div>
			  </div>
			</div>

			<div class="responsive">
			  <div class="gallery">
				<a target="_blank" href="http://www.tralinge.com/english_corner/worksheets/phonics/troy 2of2.jpg">
						<img src="http://www.tralinge.com/english_corner/worksheets/phonics/troy 2of2.jpg" alt="troy 2/2" width="400">
				</a>
				<div class="desc">Phonics Stories - tr - Troy the Trash Trucker 2/2</div>
			  </div>
			</div>
		
		<h2 style="clear: both; margin-top: 50px;">Phonics Worksheets</h2>
			<div class="responsive">
			  <div class="gallery">
				<a target="_blank" href="http://www.tralinge.com/english_corner/worksheets/phonics/phonics_kn.jpg">
						<img src="http://www.tralinge.com/english_corner/worksheets/phonics/phonics_kn.jpg" alt="kn" width="400">
				</a>
				<div class="desc">Phonics - kn</div>
			  </div>
			</div>

			<div class="responsive">
			  <div class="gallery">
				<a target="_blank" href="http://www.tralinge.com/english_corner/worksheets/phonics/phonics_wr.jpg">
						<img src="http://www.tralinge.com/english_corner/worksheets/phonics/phonics_wr.jpg" alt="wr" width="400">
				</a>
				<div class="desc">Phonics - wr</div>
			  </div>
			</div>
	<div class="clearfix"></div>

	{% include ec_worksheets_links.html %}
	
</body>
