---
layout: default
title: English Stories - Fred | Tralinge
---
<h1 style="text-align:center;">Fred the Fro Frog</h1>

<div style="text-align:center;">
<h3>Normal</h3>
    <audio controls>
        <source src="https://www.tralinge.com/english_corner/stories/fred/Fred.ogg" type="audio/ogg">
        <source src="https://www.tralinge.com/english_corner/stories/fred/Fred.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
</div>
    
<div style="text-align:center;">
    <h3>French Accent</h3>
    <audio controls>
        <source src="https://www.tralinge.com/english_corner/stories/fred/Fred - French accent.ogg" type="audio/ogg">
        <source src="https://www.tralinge.com/english_corner/stories/fred/Fred - French accent.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
</div>
 
<div style="display:flex; flex-wrap:wrap; width:100%; max-width:1000px; margin:auto;">
    
    <!-- Flipbook to be added later
    <div style="margin:auto; margin-top:0px; width:100%; max-width:400px; text-align:center;">
    <h2>Flipbook</h2>
        <div>
          <iframe style="height:350px; border-radius:15px;" src="https://s3.amazonaws.com/online.anyflip.com/ghmc/csck/index.html"  
                  seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" >
          </iframe>
        </div>
    </div>
    -->

    <!-- Coloring Pages -->
    <div style="display:flex; flex-wrap:wrap; width:100%; max-width:450px; margin:auto; margin-top:0px; text-align:center;">
        <h2 style="width:100%;">Coloring Pages</h2> 

        <div style="margin:auto;">
              <a target="_blank" href="https://www.tralinge.com/english_corner/stories/fred/fred1of3.jpg">
                  <img class="picshad" src="https://www.tralinge.com/english_corner/stories/fred/fred1of3.jpg" 
                       alt="fred 1/3" style="width:130px; border-radius:15px; padding:5px;">
              </a>
              <div class="desc">Part 1</div>
        </div>
        
        <div style="margin:auto;">
              <a target="_blank" href="https://www.tralinge.com/english_corner/stories/fred/fred2of3.jpg">
                  <img class="picshad" src="https://www.tralinge.com/english_corner/stories/fred/fred2of3.jpg" 
                       alt="fred 2/3" style="width:130px; border-radius:15px; padding:5px;">
              </a>
              <div class="desc">Part 2</div>
        </div>
        
        <div style="margin:auto;">
              <a target="_blank" href="https://www.tralinge.com/english_corner/stories/fred/fred3of3.jpg">
                  <img class="picshad" src="https://www.tralinge.com/english_corner/stories/fred/fred3of3.jpg" 
                       alt="fred 3/3" style="width:130px; border-radius:15px; padding:5px;">
              </a>
              <div class="desc">Part 3</div>
        </div>
    </div>
</div> 

{% include estory_links1.html %}
{% include story_links.html %}

{% include disqus.html %}	
