---
layout: default
title: Tralinge | Stories - Fred
---
{% include responsive.html %}

<body>
    <h1>Fred the Fro Frog</h1>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="https://www.tralinge.com/english_corner/stories/fred/fred 1of3.jpg">
                <img src="https://www.tralinge.com/english_corner/stories/fred/fred 1of3.jpg" alt="fred 1/3" width="400">
        </a>
        <div class="desc">Phonics Stories - fr/fl - Fred the Fro Frog 1/3</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="https://www.tralinge.com/english_corner/stories/fred/fred 2of3.jpg">
                <img src="https://www.tralinge.com/english_corner/stories/fred/fred 2of3.jpg" alt="fred 2/3" width="400">
        </a>
        <div class="desc">Phonics Stories - fr/fl - Fred the Fro Frog 2/3</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="https://www.tralinge.com/english_corner/stories/fred/fred 3of3.jpg">
                <img src="https://www.tralinge.com/english_corner/stories/fred/fred 3of3.jpg" alt="fred 3/3" width="400">
        </a>
        <div class="desc">Phonics Stories - fr/fl - Fred the Fro Frog 3/3</div>
      </div>
    </div>
    
   <div class="responsive" style="clear: both;">
       <h3>Normal</h3>
        <audio controls>
            <source src="https://www.tralinge.com/english_corner/stories/fred/Fred.ogg" type="audio/ogg">
            <source src="https://www.tralinge.com/english_corner/stories/fred/Fred.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>
    
    <div class="responsive" style="clear: both;">
        <h3>French Accent</h3>
        <audio controls>
            <source src="https://www.tralinge.com/english_corner/stories/fred/Fred - French accent.ogg" type="audio/ogg">
            <source src="https://www.tralinge.com/english_corner/stories/fred/Fred - French accent.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>
    
    {% include story_links.html %}
    
</body>
