---
layout: default
title: Let it Go
---
<div style="text-align:center; width:100%; min-width:200px;">
	<div style="text-align:center;">
		<h1>Let it Go</h1>
	</div>

	<div style="display:flex; flex-wrap:wrap; justify-content:center;">
		<div style="text-align:center; margin:15px;">
			<img src="https://www.tralinge.com/english_corner/songs/let_it_go/frozen.png" 
				alt="Tangled" width="300" height="300" style="border-radius:30%; width:100%; 
				max-width:300px; min-width:200px; height:auto;">
		</div>

		<div style="text-align:center; min-width:150px; margin:15px;">
			<div style="width:100%;  font-size:1.5em; font-weight:bold; background-color:#99ddff;">
            	New Words
            </div>

			<div style="display:flex; justify-content:center; flex-wrap:wrap; width:100%; margin:5px;">

				<div>
					<a href="https://www.tralinge.com/english_corner/songs/let_it_go/letitgo1.pdf" target="_blank">
						<img class="picshad" src="https://www.tralinge.com/english_corner/songs/let_it_go/letitgo1.PNG" 
							alt="part 1" style="border-radius:30%; width:100%; max-width:100px; min-width:50px; height:auto; 
						   	margin:5px;">
					</a>
					
					<div>
						Part 1
					</div>
				</div>

				<div>
					<a href="https://www.tralinge.com/english_corner/songs/let_it_go/letitgo2.pdf" target="_blank">
						<img class="picshad" src="https://www.tralinge.com/english_corner/songs/let_it_go/letitgo2.PNG" 
							alt="part 2" style="border-radius:30%; width:100%; max-width:100px; min-width:50px; height:auto; 
						   	margin:5px;">
					</a>
					
					<div>
						Part 2
					</div>
				</div> 

				<div>
					<a href="https://www.tralinge.com/english_corner/songs/let_it_go/letitgo3.pdf" target="_blank">
						<img class="picshad" src="https://www.tralinge.com/english_corner/songs/let_it_go/letitgo3.PNG" 
						alt="part 3" style="border-radius:30%; width:100%; max-width:100px; min-width:50px; height:auto; margin:5px;">
					</a>
					
					<div>
						Part 3
					</div>
				</div> 
				
				<div>
					<a href="https://www.tralinge.com/english_corner/songs/let_it_go/letitgo4.pdf" target="_blank">
						<img class="picshad" src="https://www.tralinge.com/english_corner/songs/let_it_go/letitgo4.PNG" 
						alt="part 3" style="border-radius:30%; width:100%; max-width:100px; min-width:50px; height:auto; margin:5px;">
					</a>
					
					<div>
						Part 4
					</div>
				</div> 
			</div>
		</div>
	
		<div style="width:100%; display:flex; flex-wrap:wrap; justify-content:center;">
			Under Construction - please check back later
			<div style="margin:15px; font-size:1.5em; font-weight:bold; background-color:#99ddff;">
            	<div>
					Audio Slow
                </div>
                
				<audio controls>
					<source src="https://www.tralinge.com/english_corner/songs/let_it_go/letitgoslow.ogg" type="audio/ogg">
					<source src="https://www.tralinge.com/english_corner/songs/let_it_go/letitgoslow.mp3" type="audio/mpeg">
					Your browser does not support the audio element.
				</audio>
			</div>

			<div style="margin:15px; font-size:1.5em; font-weight:bold; background-color:#99ddff;">
            	<div>
					Audio Normal
                </div>
                
                <audio controls>
                  <source src="https://www.tralinge.com/english_corner/songs/let_it_go/letitgo.ogg" type="audio/ogg">
                  <source src="https://www.tralinge.com/english_corner/songs/let_it_go/letitgo.mp3" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
			</div>
			
			<div style="margin:15px; font-size:1.5em; font-weight:bold; background-color:#99ddff;">
            	<div>
					Audio with Guitar
                </div>
                
                <audio controls>
                  <source src="https://www.tralinge.com/english_corner/songs/let_it_go/letitgoguitar.ogg" type="audio/ogg">
                  <source src="https://www.tralinge.com/english_corner/songs/let_it_go/letitgoguitar.mp3" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
			</div>
		</div>
		
		<div style="width:100%; display:flex; flex-wrap:wrap; justify-content:center; max-width:950px;">
        	<div style="width:100%;  font-size:1.5em; font-weight:bold; background-color:#99ddff;">
        		Lyrics
            </div>
        	<div style="text-align:left; width:400px; margin:auto; margin-top:0px;">
				<p>
					<strong>1</strong><br>
					The snow glows white on the mountain tonight<br>
                    Not a footprint to be seen<br>
                    A kingdom of isolation<br>
                    And it looks like I'm the queen<br>
                    The wind is howling like this swirling storm inside<br>
                    Couldn't keep it in, heaven knows I've tried<br>
                    Don't let them in, don't let them see<br>
                    Be the good girl you always have to be<br>
                    Conceal, don't feel, don't let them know<br>
                    Well, now they know
				</p>
			</div>
            
            <div style="text-align:left; width:400px; margin:auto; margin-top:0px;">
				<p>
					<strong>2</strong><br>
					Let it go, let it go<br>
                    Can't hold it back anymore<br>
                    Let it go, let it go<br>
                    Turn away and slam the door<br>
                    I don't care what they're going to say<br>
                    Let the storm rage on<br>
                    The cold never bothered me anyway<br>
                    Let it go, let it go<br>
                    Can't hold it back anymore<br>
                    Let it go, let it go<br>
                    Turn away and slam the door
				</p>
      		</div>
            
            <div style="text-align:left; width:400px; margin:auto; margin-top:0px;">
				<p>
					<strong>3</strong><br>
                    It's funny how some distance makes everything seem small<br>
                    And the fears that once controlled me can't get to me at all<br>
                    It's time to see what I can do<br>
                    To test the limits and break through<br>
                    No right, no wrong, no rules for me<br>
                    I'm free<br>
                    Let it go, let it go<br>
                    I am one with the wind and sky<br>
                    Let it go, let it go<br>
                    You'll never see me cry<br>
                    Here I stand and here I stay<br>
                    Let the storm rage on
				</p>
       		</div>
            
            <div style="text-align:left; width:400px; margin:auto; margin-top:0px;">
				<p>
					<strong>4</strong><br>
					My power flurries through the air into the ground<br>
                    My soul is spiraling in frozen fractals all around<br>
                    And one thought crystallizes like an icy blast<br>
                    I'm never going back, the past is in the past<br>
                    Let it go<br>
                    The cold never bothered me anyway<br>
                    Let it go, let it go<br>
                    And I'll rise like the break of dawn<br>
                    Let it go, let it go<br>
                    That perfect girl is gone<br>
                    Here I stand in the light of day<br>
                    Let the storm rage on
				</p>
			</div>
		</div>
			
<!--
		<div style="width:100%; font-size:1.5em; font-weight:bold; background-color:#99ddff;">
			Embedded Video
		</div>
-->

	</div>
	
	<div style="display:flex; flex-wrap:wrap; justify-content:center;">
		<h1 style="width:100%; text-align:center;">More Songs</h1>
		{% include song_links.html %}    
	</div>
	
	<div class="notecomments">
        {% include disqus.html %}	 
    </div>
</div>
