---
layout: default
title: English Stories - Troy | Tralinge 
---
{% include responsive.html %}

<body>
    <h1>Troy the Trash Trucker</h1>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="https://www.tralinge.com/english_corner/stories/troy/troy 1of2.jpg">
                <img src="https://www.tralinge.com/english_corner/stories/troy/troy 1of2.jpg" alt="troy 1/2" width="400">
        </a>
        <div class="desc">Phonics Stories - tr - Troy the Trash Trucker 1/2</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="https://www.tralinge.com/english_corner/stories/troy/troy 2of2.jpg">
                <img src="https://www.tralinge.com/english_corner/stories/troy/troy 2of2.jpg" alt="troy 2/2" width="400">
        </a>
        <div class="desc">Phonics Stories - tr - Troy the Trash Trucker 2/2</div>
      </div>
    </div>
    
    <div class="responsive" style="clear: both;">
        <audio controls>
            <source src="https://www.tralinge.com/english_corner/stories/troy/troy.ogg" type="audio/ogg">
            <source src="https://www.tralinge.com/english_corner/stories/troy/troy.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>
    
    {% include story_links.html %}
    
    <div class="notecomments">
        {% include disqus.html %}	 
    </div>
</body>
