<div style="width:100%; max-width:1000px; margin:auto; text-align:center;">
	<h2 style="background-color:#80ffaa; border-radius:8px;">Level 1 - Short Phonics Stories</h2>
</div>
    
<div style="display:flex; flex-wrap:wrap; max-width:1000px; margin:auto;">
	<div style="display:flex; flex-wrap:wrap; flex-direction:column; margin:auto; margin-top:0px;">
		<div>
			<a href="https://www.tralinge.com/english_corner/stories/shorts/vase_cave">
				<img class="picshad" src="https://www.tralinge.com/english_corner/stories/shorts/vasecave.png" 
					 alt="vase cave" style="border-radius:20%; width:100%; max-width:150px; min-width:100px; padding:2px;">
			</a>
		</div>

		<div style="margin:auto; font-size:1.3em; text-align:center; font-weight:bold;">
			Vase Cave<br> 
			"v"<br>
		</div>
	</div>

	<div style="display:flex; flex-wrap:wrap; flex-direction:column; margin:auto; margin-top:0px;">
		<div>
			<a href="https://www.tralinge.com/english_corner/stories/shorts/baboon_moo">
				<img class="picshad" src="https://www.tralinge.com/english_corner/stories/shorts/baboonmoo.png" 
					 alt="baboon moo" style="border-radius:20%; width:100%; max-width:150px; min-width:100px; padding:2px;">
			</a>
		</div>

		<div style="margin:auto; font-size:1.3em; text-align:center; font-weight:bold;">
			Baboon Moo<br> 
			"oo"<br>
		</div>
	</div>

	<div style="display:flex; flex-wrap:wrap; flex-direction:column; margin:auto; margin-top:0px;">
		<div>
			<a href="https://www.tralinge.com/english_corner/stories/shorts/eels_beef">
				<img class="picshad" src="https://www.tralinge.com/english_corner/stories/shorts/eelsbeef.PNG" 
					 alt="eelsbeef" style="border-radius:20%; width:100%; max-width:150px; min-width:100px; padding:2px;">
			</a>
		</div>

		<div style="margin:auto; font-size:1.3em; text-align:center; font-weight:bold;">
			Eels' Beef<br> 
			"ee"<br>
		</div>
	</div>

	<div style="display:flex; flex-wrap:wrap; flex-direction:column; margin:auto; margin-top:0px;">
		<div>
			<a href="https://www.tralinge.com/english_corner/stories/shorts/wolf_wig">
				<img class="picshad" src="https://www.tralinge.com/english_corner/stories/shorts/wolfwig.PNG" 
					 alt="wolf wig" style="border-radius:20%; width:100%; max-width:150px; min-width:100px; padding:2px;">
			</a>
		</div>

		<div style="margin:auto; font-size:1.3em; text-align:center; font-weight:bold;">
			Wolf Wig<br> 
			"w/wh"<br>
		</div>
	</div>

	<div style="display:flex; flex-wrap:wrap; flex-direction:column; margin:auto; margin-top:0px;">
		<div>
			<a href="https://www.tralinge.com/english_corner/stories/shorts/dung_bun">
				<img class="picshad" src="https://www.tralinge.com/english_corner/stories/shorts/dungbun.PNG" 
					 alt="dung bun" style="border-radius:20%; width:100%; max-width:150px; min-width:100px; padding:2px;">
			</a>
		</div>

		<div style="margin:auto; font-size:1.3em; text-align:center; font-weight:bold;">
			Dung Bun<br> 
			"un/um"<br>
		</div>
	</div>
</div>    
