<footer>				
	<!-- not ready yet
	<div class="responsive" style="float: left; width: 100%; padding: 5px;">
		<ul class="responsive" style="float: left; width: 24%; padding: 5px;">
			<li><h3><a href="http://www.tralinge.com/chinese_corner">Chinese Corner</a></h3></li>
			<li><a href="http://www.tralinge.com/chinese_corner/history_of_chinese">History of Chinese</a></li>
		</ul>
			
		<ul class="responsive" style="float: left; width: 24%; padding: 5px;">
			<li><h3><a href="http://www.tralinge.com/english_corner">English Corner</a></h3></li>
			<li><a href="http://www.tralinge.com/english_corner/history_of_english">History of English</a></li>
			<li><a href="http://www.tralinge.com/english_corner/worksheets">Worksheets</a></li>
		</ul>

		<ul class="responsive" style="float: left; width: 24%; padding: 5px;">
			<li><h3><a href="http://www.tralinge.com/spanish_corner">Spanish Corner</a></h3></li>
		</ul>

		<ul class="responsive" style="float: left; width: 24%; padding: 5px;">
			<li><h3><a href="http://www.tralinge.com/about">About</a></h3></li>
			<li><a href="http://www.tralinge.com/news">News</a></li>
		</ul>		
	</div>
	<br><br>
-->
	<div class="responsive" style="float: left; width: 100%; padding: 5px;">
		<ul style="display: inline; margin-right: 20px;">
			<li><a href="mailto:tralinge@gmail.com">Contact Tralinge</a></li>
			<li><a href="https://www.tralinge.com">Home</a></li> 
			<li><a href="https://www.tralinge.com/sitemap.xml">Site Map</a></li>
		</ul>
	</div>
</footer>
