<ul class="nava">
  <li class="nava"><a href="https://www.tralinge.com" class="nava">Home</a></li>
  <li class="nava"><a href="https://www.tralinge.com/chinese_corner" class="nava">Chinese Corner</a></li>
  <li class="nava"><a href="https://www.tralinge.com/english_corner" class="nava">English Corner</a></li>    
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </li>
  <li class="nava"><a href="https://www.tralinge.com/spanish_corner" class="nava">Spanish Corner</a></li>
  <li class="nava"><a href="https://www.tralinge.com/news" class="nava">News</a></li>
  <li class="nava"><a href="https://www.tralinge.com/about" class="nava">About</a></li>
</ul>
