<div class="topnav notranslate" id="myTopnav" style="clear:both;">
    <a href="https://www.tralinge.com" class="active">Home</a>

    <div class="dropdown">
        <button class="dropbtn">English</button>
        <div class="dropdown-content">
            <a href="https://www.tralinge.com/english_corner">English Corner</a>
            <a href="https://www.tralinge.com/english_corner/history_of_english">History</a>
            <a href="https://www.tralinge.com/english_corner/stories">Stories</a>
			<a href="https://www.tralinge.com/english_corner/songs">Songs</a>
			<a href="https://www.tralinge.com/english_corner/tongue_twisters">Tongue Twisters</a>
            <a href="https://www.tralinge.com/english_corner/worksheets">Worksheets</a>
            <a href="https://www.tralinge.com/english_corner/etymology">Etymology</a>
        </div>
    </div> 
    
    <div class="dropdown">
        <button class="dropbtn">Chinese</button>
        <div class="dropdown-content">
            <a href="https://www.tralinge.com/chinese_corner">Chinese Corner</a>
            <a href="https://www.tralinge.com/chinese_corner/history_of_chinese">History of Chinese</a>
			<a href="https://www.tralinge.com/chinese_corner/stories">Stories</a>
			<a href="https://www.tralinge.com/chinese_corner/resources">Resources</a>
        </div>
    </div>

	<div class="dropdown">
        <button class="dropbtn">Learn</button>
        <div class="dropdown-content">
            <a href="https://www.tralinge.com/learn">Learn a Language</a>
            <a href="https://www.tralinge.com/learn/tips">Tips</a>
			<a href="https://www.tralinge.com/learn/senses">Senses</a>
        </div>
    </div>
	
    <div class="dropdown">
        <button class="dropbtn">About</button>
        <div class="dropdown-content">
            <a href="https://www.tralinge.com/about">About</a>
	    	<a href="https://www.tralinge.com/news">News</a>
            <a href="https://www.tralinge.com/contact">Contact</a>
        </div>
    </div>
    			
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>

<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
