<div class="topnav" id="myTopnav">
  <a href="https://www.tralinge.com" class="active">Home</a>
  
  <a href="https://www.tralinge.com/chinese_corner">Chinese Corner</a>
  
  <div class="dropdown">
    <button class="dropbtn">English Corner<i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="https://www.tralinge.com/english_corner">      English Corner</a>
      <a href="https://www.tralinge.com/english_corner/history_of_english.html">      History of English</a>
      <a href="https://www.tralinge.com/english_corner/worksheets.html">      Worksheets</a>
    </div>
  </div> 
  
  <div class="dropdown">
    <button class="dropbtn">Spanish Corner 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
    </div>
  </div> 
  
  <a href="https://www.tralinge.com/news">News</a>
  
  <a href="https://www.tralinge.com/about">About</a>
  <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>

<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
