<style>
	.footBox {
		width:33%; 
		max-width: 300px;
		margin:auto; 
		margin-top:0px;
		background-color:yellow;
	}
</style>

<footer class="notranslate" style="width:100%; background-color:white;">
	<!-- top bar -->
	<div style="display:flex; flex-wrap:wrap;">
		<!-- English Corner -->
		<div class="footBox">
			<ul>
				<li style="font-weight: bold;"><a href="http://www.tralinge.com/english_corner">English Corner</a></li>
				<li><a href="https://www.tralinge.com/english_corner/history_of_english">History of English</a></li>
				<li><a href="https://www.tralinge.com/english_corner/stories">English Stories</a></li>
				<li><a href="https://www.tralinge.com/english_corner/tongue_twisters">Tongue Twisters</a></li>
				<li><a href="https://www.tralinge.com/english_corner/worksheets">Worksheets</a></li>
				<li><a href="https://www.tralinge.com/english_corner/etymology">Etymology</a></li>
			</ul>
		</div>

		<!-- Chinese Corner -->
		<div class="footBox">
			<ul>
				<li style="font-weight: bold;"><a href="https://www.tralinge.com/chinese_corner"><strong>Chinese Corner</strong></a></li>
				<li><a href="https://www.tralinge.com/chinese_corner/history_of_chinese">History of Chinese</a></li>
				<li><a href="https://www.tralinge.com/chinese_corner/stories">Chinese Stories</a></li>
			</ul>
		</div>

		<!-- About Section -->
		<div class="footBox">
			<ul>
				<li style="font-weight: bold;"><a href="https://www.tralinge.com/about">About</a></li>
				<li><a href="https://www.tralinge.com/news">News</a></li>
				<li><a href="https://www.tralinge.com/contact">Contact</a></li>
			</ul>
		</div>
	</div>

	<!-- Bottom Bar -->
	<div>
		<div>
			<ul>
				<li style="display: inline; padding: 10px;"><a href="https://www.tralinge.com/contact.html">Contact Tralinge</a></li>
				<li style="display: inline; padding: 10px;"><a href="https://www.tralinge.com">Home</a></li> 
				<li style="display: inline; padding: 10px;"><a href="https://www.tralinge.com/sitemap.xml">Site Map</a></li>
			</ul>
		</div>
	</div>
</footer>
