<table style="width:100%">
  <tr>
    <th><a href="http://www.tralinge.com/chinese_corner">Chinese Corner</a></th>
    <th><a href="http://www.tralinge.com/english_corner">Chinese Corner</a>English Corner</th> 
    <th><a href="http://www.tralinge.com/spanish_corner">Chinese Corner</a>Spanish Corner</th>
    <th><a href="http://www.tralinge.com/about">Chinese Corner</a>About</th>
  </tr>
  
  <tr>
    <td>History of Chinese</td>
    <td>History of English</td>
    <td></td>
    <td>News</td>
  </tr>
  
  <tr>
    <td></td>
    <td>Worksheets</td>
    <td></td>
  </tr>
  
  <!-- <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr> -->

</table>
