<div style="width:100%; margin:auto; text-align:center;">
	<h2>Level 2 - Phonics Stories</h2>
</div>
    
<div style="display:flex; flex-wrap:wrap; max-width:1000px; margin:auto;">
	<div style="display:flex; flex-wrap:wrap; flex-direction:column; margin:auto; margin-top:0px;">
    	<div>
        	<a href="https://www.tralinge.com/english_corner/stories/cal">
                <img class="picshad" src="https://www.tralinge.com/english_corner/stories/cal/cal.PNG" 
					 alt="cal" width="400" style="border-radius:20%; width:100%; max-width:200px; min-width:150px; padding:2px;">
        	</a>
        </div>
        
        <div style="margin:auto; font-size:1.3em; text-align:center; font-weight:bold;">
            Cal<br>
			"hard/soft" c<br><br>
      	</div>
    </div>
    
    <div style="display:flex; flex-wrap:wrap; flex-direction:column; margin:auto; margin-top:0px;">
    	<div>
        	<a href="https://www.tralinge.com/english_corner/stories/snape">
                <img class="picshad" src="https://www.tralinge.com/english_corner/stories/snape/snape.PNG" 
					 alt="snape" width="400" style="border-radius:20%; width:100%; max-width:200px; min-width:150px; padding:2px;">
        	</a>
        </div>
        
        <div style="margin:auto; font-size:1.3em; text-align:center; font-weight:bold;">
            Snape<br>
			sm/sn<br><br>
      	</div>
    </div>
    
    <div style="display:flex; flex-wrap:wrap; flex-direction:column; margin:auto; margin-top:0px;">
    	<div>
        	<a href="https://www.tralinge.com/english_corner/stories/classmates">
                <img class="picshad" src="https://www.tralinge.com/english_corner/stories/classmates/classmates.PNG" 
					 alt="classmates" width="400" style="border-radius:20%; width:100%; max-width:200px; min-width:150px; padding:2px;">
        	</a>
        </div>
        
        <div style="margin:auto; font-size:1.3em; text-align:center; font-weight:bold;">
            Classmates<br>
			"split digraph/'magic e'"<br><br>
      	</div>
	</div>
        
	<div style="display:flex; flex-wrap:wrap; flex-direction:column; margin:auto; margin-top:0px;">
    	<div>
        	<a href="https://www.tralinge.com/english_corner/stories/thelma">
                <img class="picshad" src="https://www.tralinge.com/english_corner/stories/thelma/thelma.PNG" 
					 alt="thelma" width="400" style="border-radius:20%; width:100%; max-width:200px; min-width:150px; padding:2px;">
        	</a>
        </div>
        
        <div style="margin:auto; font-size:1.3em; text-align:center; font-weight:bold;">
            Thelma<br>
			"th"<br><br>
      	</div>
	</div>
        
    <div style="display:flex; flex-wrap:wrap; flex-direction:column; margin:auto; margin-top:0px;">
    	<div>
        	<a href="https://www.tralinge.com/english_corner/stories/dur">
                <img class="picshad" src="https://www.tralinge.com/english_corner/stories/dur/dur.png" 
					 alt="dur" width="400" style="border-radius:20%; width:100%; max-width:200px; min-width:150px; padding:2px;">
        	</a>
        </div>
        
        <div style="margin:auto; font-size:1.3em; text-align:center; font-weight:bold;">
            Dur<br>
			"er/ur"<br><br>
      	</div>
	</div>
    
    <div style="display:flex; flex-wrap:wrap; flex-direction:column; margin:auto; margin-top:0px;">
    	<div>
        	<a href="https://www.tralinge.com/english_corner/stories/fred">
                <img class="picshad" src="https://www.tralinge.com/english_corner/stories/fred/fred.png" 
					 alt="fred" width="400" style="border-radius:20%; width:100%; max-width:200px; min-width:150px; padding:2px;">
        	</a>
        </div>
        
        <div style="margin:auto; font-size:1.3em; text-align:center; font-weight:bold;">
            Fred
			"fl/fr"<br><br>
      	</div>
	</div>
        
    <div style="display:flex; flex-wrap:wrap; flex-direction:column; margin:auto; margin-top:0px;">
    	<div>
        	<a href="https://www.tralinge.com/english_corner/stories/grace">
                <img class="picshad" src="https://www.tralinge.com/english_corner/stories/grace/grace.png" 
					 alt="grace" width="400" style="border-radius:20%; width:100%; max-width:200px; min-width:150px; padding:2px;">
        	</a>
        </div>
        
        <div style="margin:auto; font-size:1.3em; text-align:center; font-weight:bold;">
            Grace<br>
			"gl/gr"<br><br>
      	</div>
	</div> 
    
    <div style="display:flex; flex-wrap:wrap; flex-direction:column; margin:auto; margin-top:0px;">
    	<div>
        	<a href="https://www.tralinge.com/english_corner/stories/craig">
                <img class="picshad" src="https://www.tralinge.com/english_corner/stories/craig/craig.png" 
					 alt="craig" width="400" style="border-radius:20%; width:100%; max-width:200px; min-width:150px; padding:2px;">
        	</a>
        </div>
        
        <div style="margin:auto; font-size:1.3em; text-align:center; font-weight:bold;">
            Craig<br>
			"cl/cr"<br><br>
      	</div>
	</div>
    
    <div style="display:flex; flex-wrap:wrap; flex-direction:column; margin:auto; margin-top:0px;">
    	<div>
        	<a href="https://www.tralinge.com/english_corner/stories/chad">
                <img class="picshad" src="https://www.tralinge.com/english_corner/stories/chad/chad.png" 
					 alt="chad" width="400" style="border-radius:20%; width:100%; max-width:200px; min-width:150px; padding:2px;">
        	</a>
        </div>
        
        <div style="margin:auto; font-size:1.3em; text-align:center; font-weight:bold;">
            Chad<br>
			"ch/sh"<br><br>
      	</div>
	</div>
    
    <div style="display:flex; flex-wrap:wrap; flex-direction:column; margin:auto; margin-top:0px;">
    	<div>
        	<a href="https://www.tralinge.com/english_corner/stories/preema">
                <img class="picshad" src="https://www.tralinge.com/english_corner/stories/preema/preema.png" 
					 alt="preema" width="400" style="border-radius:20%; width:100%; max-width:200px; min-width:150px; padding:2px;">
        	</a>
        </div>
        
        <div style="margin:auto; font-size:1.3em; text-align:center; font-weight:bold;">
            Preema
			"pl/pr"<br><br>
      	</div>
	</div>
    
    <div style="display:flex; flex-wrap:wrap; flex-direction:column; margin:auto; margin-top:0px;">
    	<div>
        	<a href="https://www.tralinge.com/english_corner/stories/scar">
                <img class="picshad" src="https://www.tralinge.com/english_corner/stories/scar/scar.png" 
					 alt="scar" width="400" style="border-radius:20%; width:100%; max-width:200px; min-width:150px; padding:2px;">
        	</a>
        </div>
        
        <div style="margin:auto; font-size:1.3em; text-align:center; font-weight:bold;">
            Scar<br>
			"sc/sk"<br><br>
      	</div>
	</div>
    
    <div style="display:flex; flex-wrap:wrap; flex-direction:column; margin:auto; margin-top:0px;">
    	<div>
        	<a href="https://www.tralinge.com/english_corner/stories/troy">
                <img class="picshad" src="https://www.tralinge.com/english_corner/stories/troy/troy.png" 
					 alt="troy" width="400" style="border-radius:20%; width:100%; max-width:200px; min-width:150px; padding:2px;">
        	</a>
        </div>
        
        <div style="margin:auto; font-size:1.3em; text-align:center; font-weight:bold;">
            Troy<br>
			"tr"<br><br>
      	</div>
	</div>
</div>    
