<div style="clear:both">
	<h2>Phonics Stories</h2>
</div>
    
<div style="display:flex; flex-wrap:wrap; max-width:1000px; margin:auto;">
	<div style="display:flex; flex-wrap:wrap; flex-direction:column; margin:auto; margin-top:0px;">
    	<div>
        	<a href="https://www.tralinge.com/english_corner/stories/shorts/wolf_wig">
                <img class="picshad" src="https://www.tralinge.com/english_corner/stories/shorts/wolfwig.PNG" 
					 alt="wolf wig" width="400" style="border-radius:20%; width:100%; max-width:200px; min-width:150px; padding:2px;">
        	</a>
        </div>
        
        <div style="margin:auto; font-size:1.3em; text-align:center; font-weight:bold;">
            wolf wig<br> 
			"w/wh"
      	</div>
    </div>
	
	<div style="display:flex; flex-wrap:wrap; flex-direction:column; margin:auto; margin-top:0px;">
    	<div>
        	<a href="https://www.tralinge.com/english_corner/stories/shorts/dung_bun">
                <img class="picshad" src="https://www.tralinge.com/english_corner/stories/shorts/dungbun.PNG" 
					 alt="dung bun" width="400" style="border-radius:20%; width:100%; max-width:200px; min-width:150px; padding:2px;">
        	</a>
        </div>
        
        <div style="margin:auto; font-size:1.3em; text-align:center; font-weight:bold;">
            dung bun<br> 
			"un/um"
      	</div>
    </div>
	
	<div style="display:flex; flex-wrap:wrap; flex-direction:column; margin:auto; margin-top:0px;">
    	<div>
        	<a href="https://www.tralinge.com/english_corner/stories/cal">
                <img class="picshad" src="https://www.tralinge.com/english_corner/stories/cal/cal1of5.jpg" 
					 alt="cal 1/5" width="400" style="border-radius:20%; width:100%; max-width:200px; min-width:150px; padding:2px;">
        	</a>
        </div>
        
        <div style="margin:auto; font-size:1.3em; text-align:center; font-weight:bold;">
            hard/soft c<br><br>
      	</div>
    </div>
    
    <div style="display:flex; flex-wrap:wrap; flex-direction:column; margin:auto; margin-top:0px;">
    	<div>
        	<a href="https://www.tralinge.com/english_corner/stories/snape">
                <img class="picshad" src="https://www.tralinge.com/english_corner/stories/snape/snape1of5.jpg" 
					 alt="snape 1/5" width="400" style="border-radius:20%; width:100%; max-width:200px; min-width:150px; padding:2px;">
        	</a>
        </div>
        
        <div style="margin:auto; font-size:1.3em; text-align:center; font-weight:bold;">
            sm/sn<br><br>
      	</div>
    </div>
    
    <div style="display:flex; flex-wrap:wrap; flex-direction:column; margin:auto; margin-top:0px;">
    	<div>
        	<a href="https://www.tralinge.com/english_corner/stories/classmates">
                <img class="picshad" src="https://www.tralinge.com/english_corner/stories/classmates/classmates1of5.jpg" 
					 alt="classmates 1/5" width="400" style="border-radius:20%; width:100%; max-width:200px; min-width:150px; padding:2px;">
        	</a>
        </div>
        
        <div style="margin:auto; font-size:1.3em; text-align:center; font-weight:bold;">
            split digraph/"magic e"<br><br>
      	</div>
	</div>
        
	<div style="display:flex; flex-wrap:wrap; flex-direction:column; margin:auto; margin-top:0px;">
    	<div>
        	<a href="https://www.tralinge.com/english_corner/stories/thelma">
                <img class="picshad" src="https://www.tralinge.com/english_corner/stories/thelma/thelma1of5.jpg" 
					 alt="thelma 1/5" width="400" style="border-radius:20%; width:100%; max-width:200px; min-width:150px; padding:2px;">
        	</a>
        </div>
        
        <div style="margin:auto; font-size:1.3em; text-align:center; font-weight:bold;">
            th<br><br>
      	</div>
	</div>
        
    <div style="display:flex; flex-wrap:wrap; flex-direction:column; margin:auto; margin-top:0px;">
    	<div>
        	<a href="https://www.tralinge.com/english_corner/stories/dur">
                <img class="picshad" src="https://www.tralinge.com/english_corner/stories/dur/dur1of4.jpg" 
					 alt="dur 1/4" width="400" style="border-radius:20%; width:100%; max-width:200px; min-width:150px; padding:2px;">
        	</a>
        </div>
        
        <div style="margin:auto; font-size:1.3em; text-align:center; font-weight:bold;">
            er/ur<br><br>
      	</div>
	</div>
    
    <div style="display:flex; flex-wrap:wrap; flex-direction:column; margin:auto; margin-top:0px;">
    	<div>
        	<a href="https://www.tralinge.com/english_corner/stories/fred">
                <img class="picshad" src="https://www.tralinge.com/english_corner/stories/fred/fred1of3.jpg" 
					 alt="fred 1/3" width="400" style="border-radius:20%; width:100%; max-width:200px; min-width:150px; padding:2px;">
        	</a>
        </div>
        
        <div style="margin:auto; font-size:1.3em; text-align:center; font-weight:bold;">
            fr/fl<br><br>
      	</div>
	</div>
        
    <div style="display:flex; flex-wrap:wrap; flex-direction:column; margin:auto; margin-top:0px;">
    	<div>
        	<a href="https://www.tralinge.com/english_corner/stories/grace">
                <img class="picshad" src="https://www.tralinge.com/english_corner/stories/grace/grace1of3.jpg" 
					 alt="grace 1/3" width="400" style="border-radius:20%; width:100%; max-width:200px; min-width:150px; padding:2px;">
        	</a>
        </div>
        
        <div style="margin:auto; font-size:1.3em; text-align:center; font-weight:bold;">
            gl/gr<br><br>
      	</div>
	</div> 
    
    <div style="display:flex; flex-wrap:wrap; flex-direction:column; margin:auto; margin-top:0px;">
    	<div>
        	<a href="https://www.tralinge.com/english_corner/stories/craig">
                <img class="picshad" src="https://www.tralinge.com/english_corner/stories/craig/craig1of3.jpg" 
					 alt="craig 1/3" width="400" style="border-radius:20%; width:100%; max-width:200px; min-width:150px; padding:2px;">
        	</a>
        </div>
        
        <div style="margin:auto; font-size:1.3em; text-align:center; font-weight:bold;">
            cl/cr<br><br>
      	</div>
	</div>
    
    <div style="display:flex; flex-wrap:wrap; flex-direction:column; margin:auto; margin-top:0px;">
    	<div>
        	<a href="https://www.tralinge.com/english_corner/stories/chad">
                <img class="picshad" src="https://www.tralinge.com/english_corner/stories/chad/chad1of4.jpg" 
					 alt="chad 1/4" width="400" style="border-radius:20%; width:100%; max-width:200px; min-width:150px; padding:2px;">
        	</a>
        </div>
        
        <div style="margin:auto; font-size:1.3em; text-align:center; font-weight:bold;">
            ch/sh<br><br>
      	</div>
	</div>
    
    <div style="display:flex; flex-wrap:wrap; flex-direction:column; margin:auto; margin-top:0px;">
    	<div>
        	<a href="https://www.tralinge.com/english_corner/stories/preema">
                <img class="picshad" src="https://www.tralinge.com/english_corner/stories/preema/preema1of2.jpg" 
					 alt="preema 1/2" width="400" style="border-radius:20%; width:100%; max-width:200px; min-width:150px; padding:2px;">
        	</a>
        </div>
        
        <div style="margin:auto; font-size:1.3em; text-align:center; font-weight:bold;">
            pl/pr<br><br>
      	</div>
	</div>
    
    <div style="display:flex; flex-wrap:wrap; flex-direction:column; margin:auto; margin-top:0px;">
    	<div>
        	<a href="https://www.tralinge.com/english_corner/stories/scar">
                <img class="picshad" src="https://www.tralinge.com/english_corner/stories/scar/scar1of2.jpg" 
					 alt="scar 1/2" width="400" style="border-radius:20%; width:100%; max-width:200px; min-width:150px; padding:2px;">
        	</a>
        </div>
        
        <div style="margin:auto; font-size:1.3em; text-align:center; font-weight:bold;">
            sc/sk<br><br>
      	</div>
	</div>
    
    <div style="display:flex; flex-wrap:wrap; flex-direction:column; margin:auto; margin-top:0px;">
    	<div>
        	<a href="https://www.tralinge.com/english_corner/stories/troy">
                <img class="picshad" src="https://www.tralinge.com/english_corner/stories/troy/troy1of2.jpg" 
					 alt="troy 1/2" width="400" style="border-radius:20%; width:100%; max-width:200px; min-width:150px; padding:2px;">
        	</a>
        </div>
        
        <div style="margin:auto; font-size:1.3em; text-align:center; font-weight:bold;">
            tr<br><br>
      	</div>
	</div>
</div>    
