<div style="clear:both">
    <h2>Phonics Stories</h2>
    
    <div class="responsive">
      <div class="gallery">
        <a href="https://www.tralinge.com/english_corner/stories/cal">
                <img src="https://www.tralinge.com/english_corner/stories/cal/cal1of5.jpg" alt="cal 1/5" width="400">
        </a>
        <div class="desc">Cal the Caring Cow - hard/soft c</div>
      </div>
    </div>    
    
    <div class="responsive">
      <div class="gallery">
        <a href="https://www.tralinge.com/english_corner/stories/snape">
                <img src="https://www.tralinge.com/english_corner/stories/snape/snape 1of5.jpg" alt="snape 1/5" width="400">
        </a>
        <div class="desc">Snape the Snotty Snake - sm/sn</div>
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a href="https://www.tralinge.com/english_corner/stories/classmates">
                <img src="https://www.tralinge.com/english_corner/stories/classmates/classmates1of5.jpg" alt="classmates 1/5" width="400">
        </a>
        <div class="desc">Classmates Visit - split digraph/"magic e"</div>
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a href="https://www.tralinge.com/english_corner/stories/thelma">
                <img src="https://www.tralinge.com/english_corner/stories/thelma/thelma 1of5.jpg" alt="thelma 1/5" width="400">
        </a>
        <div class="desc">Thelma the Tooth Thug - th</div>
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a href="https://www.tralinge.com/english_corner/stories/dur">
                <img src="https://www.tralinge.com/english_corner/stories/dur/dur1of4.jpg" alt="dur 1/4" width="400">
        </a>
        <div class="desc">Dur the Purring Lemur - er/ur</div>
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a href="https://www.tralinge.com/english_corner/stories/fred">
                <img src="https://www.tralinge.com/english_corner/stories/fred/fred 1of3.jpg" alt="fred 1/3" width="400">
        </a>
        <div class="desc">Fred the Fro Frog - fl/fr</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a href="https://www.tralinge.com/english_corner/stories/grace">
            <img src="https://www.tralinge.com/english_corner/stories/grace/grace 1of3.jpg" alt="grace 1/3" width="400">
        </a>
        <div class="desc">Grace the Great Grizzly - gl/gr</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a href="https://www.tralinge.com/english_corner/stories/craig">
                <img src="https://www.tralinge.com/english_corner/stories/craig/craig1of3.jpg" alt="craig 1/3" width="400">
        </a>
        <div class="desc">Craig the Crazy Crow - cl/cr</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a href="https://www.tralinge.com/english_corner/stories/chad">
                <img src="https://www.tralinge.com/english_corner/stories/chad/chad1of4.jpg" alt="chad 1/4" width="400">
        </a>
        <div class="desc">Chad the Chewy Chicken - ch/sh</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a href="https://www.tralinge.com/english_corner/stories/preema">
                <img src="https://www.tralinge.com/english_corner/stories/preema/preema 1of2.jpg" alt="preema 1/2" width="400">
        </a>
        <div class="desc">Preema the Pretty Princess - pl/pr</div>
      </div>
    </div>

    <div class="responsive">
        <div class="gallery">
        <a href="https://www.tralinge.com/english_corner/stories/scar">
                <img src="https://www.tralinge.com/english_corner/stories/scar/scar 1of2.jpg" alt="scar 1/2" width="400">
        </a>
        <div class="desc">Scar the Scary Skeleton - sc/sk</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a href="https://www.tralinge.com/english_corner/stories/troy">
                <img src="https://www.tralinge.com/english_corner/stories/troy/troy 1of2.jpg" alt="troy 1/2" width="400">
        </a>
        <div class="desc">Troy the Trash Trucker - tr</div>
      </div>
    </div>

    <div class="clearfix"></div>	
</div>
