<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        }

    li {
        float: left;
        text-weight: bold;
        }

    li a, .dropbtn {
        display: inline-block;
        color: #409c8c;
        text-align: center;
        padding: 5px 10px;
        text-decoration: none;
        }

    li a:hover, .dropdown:hover .dropbtn {
        background-color: white;
        }

    li.dropdown {
        display: inline-block;
        }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        }

    .dropdown-content a:hover {background-color: #f1f1f1;}

    .dropdown:hover .dropdown-content {
        display: block;
        }
</style>

<body>
    <div class="flex-container" style="text-align: center;">
        <div class="yangnav flex-container notranslate" style="clear: both; border-color: #409c8c; 
            border-width: 1px; border-top-style: solid; border-bottom-style: solid;">
            <ul>
                <li><a href="https://www.tralinge.com">HOME</a></li>
                
                <li class="dropdown"><a href="javascript:void(0)" class="dropbtn">TEACHING</a>
                    <div class="dropdown-content">
                        <a href="https://www.tralinge.com/yanglin/teaching_philosophy">Philosophy</a>
                        <a href="https://www.tralinge.com/yanglin/teaching_responsibilities">Responsibilities</a>
                        <a href="https://www.tralinge.com/yanglin/teaching_in_action">In Action</a>
                    </div>
                </li>
                
                <li class="dropdown"><a href="javascript:void(0)" class="dropbtn">PROJECTS</a>
                    <div class="dropdown-content">
                        <a href="https://www.tralinge.com/yanglin/projects">Projects</a>
                    </div>
                </li>

                <li class="dropdown"><a href="javascript:void(0)" class="dropbtn">CRITIQUE</a>
                    <div class="dropdown-content">
                        <a href="https://www.tralinge.com/yanglin/students_say">Students Say</a>
                        <a href="https://www.tralinge.com/yanglin/peer_observation">Peer Observation</a>
                    </div>
                </li>
            
                <li class="dropdown"><a href="javascript:void(0)" class="dropbtn">ART & PLAY</a>
                    <div class="dropdown-content">
                        <a href="https://www.tralinge.com/yanglin/hot_moments">HOT Moments</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
