   <div class="topnav" style="margin-top: 80px;">
                  <a href="https://www.tralinge.com/yanglin">HOME</a>
                  <a href="https://www.tralinge.com/yanglin/resume">RESUME</a>
                  <a href="https://www.tralinge.com/yanglin/projects">PROJECTS</a>
                  <a href="https://www.tralinge.com/yanglin/students_say">STUDENTS SAY</a>
                  <a href="https://www.tralinge.com/yanglin/contact">CONTACT</a>
                </div>

<div class="topnav notranslate" id="myTopnav" style="clear: both; margin-top: 80px;">
    <a href="https://www.tralinge.com" class="active">Home</a>

    <div class="dropdown">
        <button class="dropbtn">Teaching</button>
        <div class="dropdown-content">
            <a href="https://www.tralinge.com/yanglin/teaching_philosophy">Philosophy</a>
            <a href="https://www.tralinge.com/yanglin/teaching_responsibilities">Responsibilities</a>
            <a href="https://www.tralinge.com/yanglin/teaching_in_action">In Action</a>
        </div>
    </div> 
    
    <a href="https://www.tralinge.com/yanglin/projects">Projects</a>
    
    <div class="dropdown">
        <button class="dropbtn">Critique</button>
        <div class="dropdown-content">
            <a href="https://www.tralinge.com/yanglin/students_say">Students Say</a>
            <a href="https://www.tralinge.com/yanglin/peer_observation">Peer Observation</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Art & Play</button>
        <div class="dropdown-content">
            <a href="https://www.tralinge.com/yanglin/hot_moments">HOT Moments</a>
        </div>
    </div>
    			
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>

<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>            
