---
layout: default
title: English Stories - Classmates | Tralinge
---
{% include responsive.html %}

<body>
    <h1>Classmates Visit</h1>
    
    <div class=flex-container>
    
    <div>
        <h2>Flipbook</h2>
        
        <iframe src="https://cdn.flipsnack.com/widget/v2/widget.html?hash=fcp823lsc&bgcolor=EEEEEE&t=1552079754" 
                align="left" width="500" height="300px" seamless="seamless" scrolling="no" frameBorder="0"         allowFullScreen>
        </iframe>
    </div>
    
    <div class="responsive" style="clear: both">
        <audio controls>
            <source src="https://www.tralinge.com/english_corner/stories/classmates/classmates.ogg" type="audio/ogg">
            <source src="https://www.tralinge.com/english_corner/stories/classmates/classmates.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>
        
    <div style="clear:both;">
        <h2>Coloring Pages</h2> 
        
        <div class="responsive">
          <div class="gallery">
              <a target="_blank" href="https://www.tralinge.com/english_corner/stories/classmates/classmates 1of5.jpg">
                  <img src="https://www.tralinge.com/english_corner/stories/classmates/classmates 1of5.jpg" alt="classmates 1/5" width="400">
              </a>
              <div class="desc">Phonics Stories - split digraph - Classmates 1/5</div>
          </div>
        </div>

        <div class="responsive">
          <div class="gallery">
              <a target="_blank" href="https://www.tralinge.com/english_corner/stories/classmates/classmates 2of5.jpg">
                  <img src="https://www.tralinge.com/english_corner/stories/classmates/classmates 2of5.jpg" alt="classmates 2/5" width="400">
              </a>
              <div class="desc">Phonics Stories - split digraph - Classmates 2/5</div>
          </div>
        </div>

        <div class="responsive">
          <div class="gallery">
              <a target="_blank" href="https://www.tralinge.com/english_corner/stories/classmates/classmates 3of5.jpg">
                  <img src="https://www.tralinge.com/english_corner/stories/classmates/classmates 3of5.jpg" alt="classmates 3/5" width="400">
              </a>
              <div class="desc">Phonics Stories - split digraph - Classmates 3/5</div>
          </div>
        </div>	

        <div class="responsive">
          <div class="gallery">
              <a target="_blank" href="https://www.tralinge.com/english_corner/stories/classmates/classmates 4of5.jpg">
                  <img src="https://www.tralinge.com/english_corner/stories/classmates/classmates 4of5.jpg" alt="classmates 4/5" width="400">
              </a>
              <div class="desc">Phonics Stories - split digraph - Classmates 4/5</div>
          </div>
        </div>
        
        <div class="responsive">
          <div class="gallery">
              <a target="_blank" href="https://www.tralinge.com/english_corner/stories/classmates/classmates 5of5.jpg">
                  <img src="https://www.tralinge.com/english_corner/stories/classmates/classmates 5of5.jpg" alt="classmates 5/5" width="400">
              </a>
              <div class="desc">Phonics Stories - split digraph - Classmates 5/5</div>
          </div>
        </div>
    </div>
    
    {% include story_links.html %}
    
    {% include disqus.html %}	 
</body>
