---
layout: default
title: English Stories | Tralinge
---
<h1>Stories</h1>

<div style="display:flex; flex-wrap:wrap; margin:auto;">
	<div style="max-width:500px; margin:auto; top-margin:0px;">
		<h2>Learn Through Stories!</h2>
    	<p>
            Stories can be one of the best methods for learning a language. By reading stories, 
            you can move at your own pace, immersed in the culture while emphasizing with the 
            characters. Best of all, there is almost limitless material for any level, from 
            beginner to extremely advanced. What are you waiting for? Browse some of these 
            stories or pick up a book today!
        </p>
    </div>
    
    <div style="max-width:500px; margin:auto; top-margin:0px;">
    	<p style="font-size:1.2em; font-weight:bold; ">
        	Learn at your pace!<br><br>
			Learn through the characters!<br><br>
			Limitless material to expand vocabulary!
        </p>
    </div>

    <div style="margin:auto;">
        <h2>Level 1</h2>
        {% include story_links.html %}
    </div>
    
    <div style="margin:auto;">
        <h2>Level 2</h2>
        {% include story_links.html %}
    </div>    
</div>

