---
layout: default
title: English Stories - Thelma | Tralinge
---
{% include responsive.html %}

<body>
    <h1>Thelma the Tooth Thug</h1>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="https://www.tralinge.com/english_corner/stories/thelma/thelma 1of5.jpg">
                <img src="https://www.tralinge.com/english_corner/stories/thelma/thelma 1of5.jpg" alt="thelma 1/5" width="400">
        </a>
        <div class="desc">Phonics Stories - th - Thelma the Tooth Thug 1/5</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="https://www.tralinge.com/english_corner/stories/thelma/thelma 2of5.jpg">
                <img src="https://www.tralinge.com/english_corner/stories/thelma/thelma 2of5.jpg" alt="thelma 2/5" width="400">
        </a>
        <div class="desc">Phonics Stories - th - Thelma the Tooth Thug 2/5</div>
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="https://www.tralinge.com/english_corner/stories/thelma/thelma 3of5.jpg">
                <img src="https://www.tralinge.com/english_corner/stories/thelma/thelma 3of5.jpg" alt="thelma 3/5" width="400">
        </a>
        <div class="desc">Phonics Stories - th - Thelma the Tooth Thug 3/5</div>
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="https://www.tralinge.com/english_corner/stories/thelma/thelma 4of5.jpg">
                <img src="https://www.tralinge.com/english_corner/stories/thelma/thelma 4of5.jpg" alt="thelma 4/5" width="400">
        </a>
        <div class="desc">Phonics Stories - th - Thelma the Tooth Thug 4/5</div>
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="https://www.tralinge.com/english_corner/stories/thelma/thelma 5of5.jpg">
                <img src="https://www.tralinge.com/english_corner/stories/thelma/thelma 5of5.jpg" alt="thelma 5/5" width="400">
        </a>
        <div class="desc">Phonics Stories - th - Thelma the Tooth Thug 5/5</div>
      </div>
    </div>
    
   <div class="responsive" style="clear: both;">
        <audio controls>
            <source src="https://www.tralinge.com/english_corner/stories/thelma/thelma.ogg" type="audio/ogg">
            <source src="https://www.tralinge.com/english_corner/stories/thelma/thelma.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>
    
    {% include story_links.html %}
    
    <div class="notecomments">
        {% include disqus.html %}	 
    </div>
</body>
