---
layout: default
title: I See the Light
---
<div style="text-align:center; width:100%; min-width:200px;">
	<div style="text-align:center;">
		<h1>I See the Light</h1>
	</div>

	<div style="display:flex; flex-wrap:wrap; justify-content:center;">
		<div style="text-align:center; margin:15px;">
			<img src="https://www.tralinge.com/english_corner/songs/see_the_light/seelight.png" 
				alt="Tangled" width="300" height="300" style="border-radius:30%; width:100%; 
				max-width:300px; min-width:200px; height:auto;">
		</div>

		<div style="text-align:center; min-width:150px; margin:15px;">
			<div class="subheading" style="font-size:1.5em; font-weight:bold;">
            	New Words
            </div>

			<div style="display:flex; justify-content:center; flex-wrap:wrap; width:100%; margin:5px;">

				<div>
					<a href="https://www.tralinge.com/english_corner/songs/see_the_light/seelight1.pdf" target="_blank">
						<img class="picshad" src="https://www.tralinge.com/english_corner/songs/see_the_light/seelight1.PNG" 
							alt="part 1" style="border-radius:30%; width:100%; max-width:100px; min-width:50px; height:auto; 
						   	margin:5px;">
					</a>
					
					<div>
						Part 1
					</div>
				</div>

				<div>
					<a href="https://www.tralinge.com/english_corner/songs/see_the_light/seelight2.pdf" target="_blank">
						<img class="picshad" src="https://www.tralinge.com/english_corner/songs/see_the_light/seelight2.PNG" 
							alt="part 2" style="border-radius:30%; width:100%; max-width:100px; min-width:50px; height:auto; 
						   	margin:5px;">
					</a>
					
					<div>
						Part 2
					</div>
				</div> 

				<div>
					<a href="https://www.tralinge.com/english_corner/songs/see_the_light/seelight3.pdf" target="_blank">
						<img class="picshad" src="https://www.tralinge.com/english_corner/songs/see_the_light/seelight3.PNG" 
						alt="part 3" style="border-radius:30%; width:100%; max-width:100px; min-width:50px; height:auto; margin:5px;">
					</a>
					
					<div>
						Part 3
					</div>
				</div> 
			</div>
		</div>
	
		<div style="width:100%; display:flex; flex-wrap:wrap; justify-content:center;">
			<div class="audioheading">
            	<div>
					Audio Slow
                </div>
                
				<audio controls>
					<!-- <source src="https://www.tralinge.com/english_corner/songs/see_the_light/iseelightslow.ogg" type="audio/ogg"> -->
					<source src="https://www.tralinge.com/english_corner/songs/see_the_light/iseelightslow.mp3" type="audio/mpeg">
					Your browser does not support the audio element.
				</audio>
			</div>

			<div class="audioheading">
            	<div>
					Audio Normal
                </div>
                
                <audio controls>
                  <!-- <source src="https://www.tralinge.com/english_corner/stories/classmates/classmates.ogg" type="audio/ogg"> -->
                  <source src="https://www.tralinge.com/english_corner/songs/see_the_light/iseelight.mp3" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
			</div>
			
			<div class="audioheading">
            	<div>
					Audio with Guitar
                </div>
                
                <audio controls>
                  <source src="https://www.tralinge.com/english_corner/songs/see_the_light/iseelightguitar.ogg" type="audio/ogg">
                  <source src="https://www.tralinge.com/english_corner/songs/see_the_light/iseelightguitar.mp3" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
			</div>
		</div>
		
		<div style="width:100%; display:flex; flex-wrap:wrap; justify-content:center; max-width:950px;">
        	<div class="subheading" style="font-size:1.5em; font-weight:bold;">
        		Lyrics
            </div>
        	<div style="text-align:left; width:400px; margin:auto; margin-top:0px;">
				<p>
					<strong>1</strong><br>
					All those days watching from the windows<br>
					All those years outside looking in<br>
					All that time never even knowing<br>
					Just how blind I've been<br>
					Now I'm here blinking in the starlight<br>
					Now I'm here suddenly I see<br>
					Standing here it's all so clear<br>
					I'm where I'm meant to be
				</p>
			</div>
            
            <div style="text-align:left; width:400px; margin:auto; margin-top:0px;">
				<p>
					<strong>2</strong><br>
					And at last I see the light<br>
					And it's like the fog has lifted<br>
					And at last I see the light<br>
					And it's like the sky is new<br>
					And it's warm and real and bright<br>
					And the world has somehow shifted<br>
					All at once everything looks different<br>
					Now that I see you
				</p>
      		</div>
            
            <div style="text-align:left; width:400px; margin:auto; margin-top:0px;">
				<p>
					<strong>3</strong><br>
					All those days chasing down a daydream<br>
					All those years living in a blur<br>
					All that time never truly seeing<br>
					Things, the way they were<br>
					Now she's here shining in the starlight<br>
					Now she's here suddenly I know<br>
					If she's here it's crystal clear<br>
					I'm where I'm meant to go
				</p>
       		</div>
            
            <div style="text-align:left; width:400px; margin:auto; margin-top:0px;">
				<p>
					<strong>4</strong><br>
					And at last I see the light<br>
					And it's like the fog has lifted<br>
					And at last I see the light<br>
					And it's like the sky is new<br>
					And it's warm and real and bright<br>
					And the world has somehow shifted<br>
					All at once everything is different<br>
					Now that I see you<br>
					Now that I see you
				</p>
			</div>
		</div>
			
<!--
		<div style="width:100%; font-size:1.5em; font-weight:bold; background-color:#99ddff;">
			Embedded Video
		</div>
-->

	</div>
	
	<div style="display:flex; flex-wrap:wrap; justify-content:center;">
		{% include song_links.html %}    
	</div>
	
	<div class="notecomments">
        {% include disqus.html %}	 
    </div>
</div>
