---
layout: default
title: English Stories - Cal | Tralinge
---
{% include responsive.html %}

<body>
    <h1>Cal the Caring Cow</h1>
    
    <div>
        <audio controls>
            <source src="https://www.tralinge.com/english_corner/stories/cal/cal.ogg" type="audio/ogg">
            <source src="https://www.tralinge.com/english_corner/stories/cal/cal.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>
    
    <div style="clear: both;">
        <h2>Flipbook</h2>
        
        <div style="display: flex; justify-content: center; overflow: auto;">
            <div style="display: flex; justify-content: center; width:800px; overflow: auto;">
                <iframe style="width:100%;height:350px" src="https://s3.amazonaws.com/online.anyflip.com/ghmc/bwho/index.html"  
                    seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" >
                </iframe>   
            </div>
        </div>
    </div>
        
    <div style="clear:both;">
        <h2>Coloring Pages</h2> 
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="https://www.tralinge.com/english_corner/stories/cal/cal1of5.jpg">
                <img src="https://www.tralinge.com/english_corner/stories/cal/cal1of5.jpg" alt="cal 1/5" width="400">
        </a>
        <div class="desc">Phonics Stories - hard and soft c - Cal the Caring Cow 1/5</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="https://www.tralinge.com/english_corner/stories/cal/cal2of5.jpg">
                <img src="https://www.tralinge.com/english_corner/stories/cal/cal2of5.jpg" alt="cal 2/5" width="400">
        </a>
        <div class="desc">Phonics Stories - hard and soft c - Cal the Caring Cow 2/5</div>
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="https://www.tralinge.com/english_corner/stories/cal/cal3of5.jpg">
                <img src="https://www.tralinge.com/english_corner/stories/cal/cal3of5.jpg" alt="cal 3/5" width="400">
        </a>
        <div class="desc">Phonics Stories - hard and soft c - Cal the Caring Cow 3/5</div>
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="https://www.tralinge.com/english_corner/stories/cal/cal4of5.jpg">
                <img src="https://www.tralinge.com/english_corner/stories/cal/cal4of5.jpg" alt="cal 4/5" width="400">
        </a>
        <div class="desc">Phonics Stories - hard and soft c - Cal the Caring Cow 4/5</div>
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="https://www.tralinge.com/english_corner/stories/cal/cal5of5.jpg">
                <img src="https://www.tralinge.com/english_corner/stories/cal/cal5of5.jpg" alt="cal 5/5" width="400">
        </a>
        <div class="desc">Phonics Stories - hard and soft c - Cal the Caring Cow 5/5</div>
      </div>
    </div>
    
    {% include story_links.html %}
    
    <div class="notecomments">
        {% include disqus.html %}	 
    </div>
</body>
