<!DOCTYPE html>
	<html>
		<head>
			<!-- link to analytics - not yet functional?-->
			<link href="/_includes/analytics.html">
			{% include analytics.html %}
			
			<!-- set up -->
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			
			<title>{{ page.title }}</title>
			
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			
			<!-- favicon -->
			<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
						
			<style>
				.tralinge-top{
  					font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
					font-size: 4em;
					font-style: italic;
					font-weight: bold;
					color: black;
					line-height: 1.1;
					text-shadow: 1.5px 1px grey;
					}
				.motto{
					font-family: "Segoe UI, Arial, san-serif";
				    	font-size: 1.5em;
				    	}
			</style>
			
		</head>
		
		<body style="position: relative; min-height: 100%; top: 0px;">	
			<div class="tralinge-top">
				<a href="https://www.tralinge.com" class="home">Tralinge</a>
				<img src="https://www.tralinge.com/media/background/chuan lin ge.png" alt="chuan lin ge" width="100">
			</div>
			
			<div class="motto" style="font-family:'Segoe UI',Arial,sans-serif">
					Culture Based Language Learning
			</div>		
					
			{% include navbar.html %}
	    		
			<div class="container">

				{{ content }}

			</div><!-- /.container -->
				
			<footer>
	    			<ul>
					<li><a href="mailto:tralinge@gmail.com">Contact Tralinge</a></li>
					<li><a href="https://www.tralinge.com">Home</a></li> 
					<li><a href="https://www.tralinge.com/sitemap.xml">Site Map</a></li>
				</ul>
			</footer>
		</body>
	</html>
