<!DOCTYPE html>
	<html>
		<head>
			<!-- link to analytics - not yet functional?-->
			<link href="/_includes/analytics.html">
			
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/chinese_corner">Chinese Corner</a></li>
				<li><a href="/english_corner">English Corner</a></li>
				<li><a href="/spanish_corner">Spanish Corner</a></li>
				<li><a href="/news">News</a></li>
				<li><a href="/about">About</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<!-- Should this go to the far right??? -->
				<li><a href="mailto:tralinge@gmail.com">Contact Tralinge</a></li>
	        		<!-- Does this next one work??? -->
				<li><a href="https://tralinge.github.io</a></li> 
				<li><a href="http://tralinge.github.io/sitemap.xml">Site Map</a></li>
				</ul>
			</footer>
		</body>
	</html>
