---
layout: default
title: Tralinge | Stories - Scar 
---
{% include responsive.html %}

<body>
    <h1>Scar the Scary Skeleton</h1>
    
    <div class="responsive">
        <div class="gallery">
        <a target="_blank" href="https://www.tralinge.com/english_corner/stories/scar/scar 1of2.jpg">
                <img src="https://www.tralinge.com/english_corner/stories/scar/scar 1of2.jpg" alt="scar 1/2" width="400">
        </a>
        <div class="desc">Phonics Stories - sc/sk - Scar the Scary Skeleton 1/2</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="https://www.tralinge.com/english_corner/stories/scar/scar 2of2.jpg">
                <img src="https://www.tralinge.com/english_corner/stories/scar/scar 2of2.jpg" alt="scar 2/2" width="400">
        </a>
        <div class="desc">Phonics Stories - sc/sk - Scar the Scary Skeleton 2/2</div>
      </div>
    </div>
    
    <!--<div class="responsive" style="clear: both;">
        <audio controls>
            <source src="https://www.tralinge.com/english_corner/stories/grace/grace.ogg" type="audio/ogg">
            Your browser does not support the audio element.
        </audio>
    </div>-->
    
    {% include story_links.html %}
    
</body>
