---
layout: default
title: The Lion Sleeps Tonight
---
<div style="margin:auto; width:100%; max-width:1000px; min-width:200px;">
	<div style="text-align:center;">
		<h1>The Lion Sleeps Tonight</h1>
	</div>

	<div style="display:flex; flex-wrap:wrap; justify-content:center;">
		<div style="text-align:center; margin:auto; padding:5px;">
			<img src="https://www.tralinge.com/english_corner/songs/lion_sleeps_tonight/lion.png" 
				alt="Lion" width="300" height="300" style="border-radius:30%; width:100%; 
				max-width:250px; min-width:150px; height:auto; margin:auto;">
		</div>
        
        <div style="width:100%; max-width:300px; margin:auto;">
        <!--
			<p>
            	Pocahontas was a Native American who lived near the English settlement of Jamestown, Virginia (USA). 
				Born around the 15th century (~1600), she was the daughter of a powerful native leader. During this 
				time, there was a lot of anger between the native groups and the English settlers, partly based on 
				cultural differences. These different views of the world are what Pocahontas is singing about.
            </p>
		-->
        </div>
		
		<div style="text-align:center; min-width:150px; margin:15px;">
			<div>
				<h2 class="subheading">New Words - Under Construction</h2>
            </div>

			<div style="display:flex; justify-content:center; flex-wrap:wrap; width:100%; margin:5px;">
				<!--
				<div>
					<a href="https://www.tralinge.com/english_corner/songs/colors_of_the_wind/colorswind1.pdf" target="_blank">
						<img class="picshad" src="https://www.tralinge.com/english_corner/songs/colors_of_the_wind/colorswind1.PNG" 
							alt="part 1" style="border-radius:30%; width:100%; max-width:100px; min-width:50px; height:auto; 
						   	margin:5px;">
					</a>
					
					<div>
						Part 1
					</div>
				</div>

				<div>
					<a href="https://www.tralinge.com/english_corner/songs/colors_of_the_wind/colorswind2.pdf" target="_blank">
						<img class="picshad" src="https://www.tralinge.com/english_corner/songs/colors_of_the_wind/colorswind2.PNG" 
							alt="part 2" style="border-radius:30%; width:100%; max-width:100px; min-width:50px; height:auto; 
						   	margin:5px;">
					</a>
					
					<div>
						Part 2
					</div>
				</div> 

				<div>
					<a href="https://www.tralinge.com/english_corner/songs/colors_of_the_wind/colorswind3.pdf" target="_blank">
						<img class="picshad" src="https://www.tralinge.com/english_corner/songs/colors_of_the_wind/colorswind3.PNG" 
							alt="part 3" style="border-radius:30%; width:100%; max-width:100px; min-width:50px; height:auto; 
						   	margin:5px;">
					</a>
					
					<div>
						Part 3
					</div>
				</div> 
				
				-->
			</div>
		</div>
	
		<div style="width:100%; display:flex; flex-wrap:wrap; justify-content:center;">			
			<!--
			<div class="audioheading">
            	<div>
					Audio Slow
                </div>
                
				<audio controls>
					<source src="https://www.tralinge.com/english_corner/songs/colors_of_the_wind/colorswindslow.ogg" type="audio/ogg">
					<source src="https://www.tralinge.com/english_corner/songs/colors_of_the_wind/colorswindslow.mp3" type="audio/mpeg">
					Your browser does not support the audio element.
				</audio>
			</div>

			<div class="audioheading">
            	<div>
					Audio Normal
                </div>
                
                <audio controls>
                  <source src="https://www.tralinge.com/english_corner/songs/colors_of_the_wind/colorswind.ogg" type="audio/ogg">
                  <source src="https://www.tralinge.com/english_corner/songs/colors_of_the_wind/colorswind.mp3" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
			</div>
			-->
			
			<div class="audioheading">
            	<div>
					Audio with Guitar
                </div>
                
                <audio controls>
                  <source src="https://www.tralinge.com/english_corner/songs/lion_sleeps_tonight/lionsleepsguitar.ogg" type="audio/ogg">
                  <source src="https://www.tralinge.com/english_corner/songs/lion_sleeps_tonight/lionsleepsguitar.mp3" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
			</div>
		</div>
		
		<div style="width:100%; display:flex; flex-wrap:wrap; justify-content:center; max-width:950px;">
        	<div class="subheading">
        		Lyrics
            </div>
			
        	<div style="text-align:left; width:350px; font-size:1.2em; margin:auto; margin-top:0px;">
            	<strong>1</strong><br>
				A-weema-weh, a-weema-weh, a-weema-weh, a-weema-weh<br>
				A-weema-weh, a-weema-weh, a-weema-weh, a-weema-weh<br>
				A-weema-weh, a-weema-weh, a-weema-weh, a-weema-weh<br>
				A-weema-weh, a-weema-weh, a-weema-weh, a-weema-weh<br><br>
			</div>
            
            <div style="text-align:left; width:350px; font-size:1.2em; margin:auto; margin-top:0px;">
                <strong>2</strong><br>
                In the jungle, the mighty jungle<br>
				The lion sleeps tonight<br>
				In the jungle the quiet jungle<br>
				The lion sleeps tonight<br><br>
      		</div>
            
            <div style="text-align:left; width:350px; font-size:1.2em; margin:auto; margin-top:0px;">
                <strong>3</strong><br>
				A-weema-weh, a-weema-weh, a-weema-weh, a-weema-weh<br>
				A-weema-weh, a-weema-weh, a-weema-weh, a-weema-weh<br>
				A-weema-weh, a-weema-weh, a-weema-weh, a-weema-weh<br>
				A-weema-weh, a-weema-weh, a-weema-weh, a-weema-weh<br><br>
       		</div>
            
            <div style="text-align:left; width:350px; font-size:1.2em; margin:auto; margin-top:0px;">
            	<strong>4</strong><br>
                Near the village the peaceful village<br>
				The lion sleeps tonight<br>
				Near the village the quiet village<br>
				The lion sleeps tonight<br><br>
			</div>
            
            <div style="text-align:left; width:350px; font-size:1.2em; margin:auto; margin-top:0px;">
            	<strong>5</strong><br>
                A-weema-weh, a-weema-weh, a-weema-weh, a-weema-weh<br>
				A-weema-weh, a-weema-weh, a-weema-weh, a-weema-weh<br>
				A-weema-weh, a-weema-weh, a-weema-weh, a-weema-weh<br>
				A-weema-weh, a-weema-weh, a-weema-weh, a-weema-weh<br><br>
            </div>
            
            <div style="text-align:left; width:350px; font-size:1.2em; margin:auto; margin-top:0px;">
            	<strong>6</strong><br>
                Hush my darling don't fear my darling<br>
				The lion sleeps tonight<br>
				Hush my darling don't fear my darling<br>
				The lion sleeps tonight<br>
				A-weema-weh...<br><br>
            </div>
		
		</div>
			
<!--
		<div style="width:100%; font-size:1.5em; font-weight:bold; background-color:#99ddff;">
			Embedded Video
		</div>
-->
	</div>
	
	<div style="display:flex; flex-wrap:wrap; justify-content:center;">
		<h1 style="width:100%; text-align:center;">More Songs</h1>
		
		{% include song_links.html %}    
	</div>
	
	<div class="notecomments">
        {% include disqus.html %}	 
    </div>
</div>
