---
layout: default
title: The Lion Sleeps Tonight
---
<div style="margin:auto; width:100%; max-width:1000px; min-width:200px;">
	<div style="text-align:center;">
		<h1>The Lion Sleeps Tonight</h1>
	</div>

	<div style="display:flex; flex-wrap:wrap; width:100%; margin:auto;">
		<div style="margin:auto;">
			<img src="https://www.tralinge.com/english_corner/songs/lion_sleeps_tonight/lion.png" 
				alt="Lion" width="300" height="300" style="border-radius:30%; width:100%; 
				max-width:250px; min-width:150px; height:auto; margin:auto;">
		</div>
        
        <div style="width:100%; max-width:300px; margin:auto; padding:5px;">
			<p>
            	Simba had lost his father and left his pride (group of lions). Now living with other animals 
				in the jungle, he is resting far away from the dangers presented by his uncle. This song expresses Simba’s 
				feeling of calm after the ordeals. The phrase “Aweemoweh” should actually be “Uyimbube", which is Zulu (a 
				language of Southern Africa) for “You are a lion”.
			</p>
        </div>
		
		<div style="width:100%; max-width:200px; min-width:150px; margin:auto;">
			<div>
				<h2 class="subheading">New Words</h2>
            </div>

			<div style="display:flex; justify-content:center; flex-wrap:wrap; width:100%; margin:auto;">
				<div>
					<a href="https://www.tralinge.com/english_corner/songs/lion_sleeps_tonight/lionsleeps.pdf" target="_blank">
						<img class="picshad" src="https://www.tralinge.com/english_corner/songs/lion_sleeps_tonight/lionsleeps.PNG" 
							alt="part 1" style="border-radius:30%; width:100%; max-width:100px; min-width:50px; height:auto; 
						   	margin:5px;">
					</a>
					
					<div>
						Part 1
					</div>
				</div>
			</div>
		</div>
	
		<div style="width:100%; display:flex; flex-wrap:wrap; justify-content:center;">			
			<!--
			<div class="audioheading">
            	<div>
					Audio Slow
                </div>
                
				<audio controls>
					<source src="https://www.tralinge.com/english_corner/songs/colors_of_the_wind/colorswindslow.ogg" type="audio/ogg">
					<source src="https://www.tralinge.com/english_corner/songs/colors_of_the_wind/colorswindslow.mp3" type="audio/mpeg">
					Your browser does not support the audio element.
				</audio>
			</div>

			<div class="audioheading">
            	<div>
					Audio Normal
                </div>
                
                <audio controls>
                  <source src="https://www.tralinge.com/english_corner/songs/colors_of_the_wind/colorswind.ogg" type="audio/ogg">
                  <source src="https://www.tralinge.com/english_corner/songs/colors_of_the_wind/colorswind.mp3" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
			</div>
			-->
			
			<div class="audioheading">
            	<div>
					Audio with Guitar
                </div>
                
                <audio controls>
                  <source src="https://www.tralinge.com/english_corner/songs/lion_sleeps_tonight/lionsleepsguitar.ogg" type="audio/ogg">
                  <source src="https://www.tralinge.com/english_corner/songs/lion_sleeps_tonight/lionsleepsguitar.mp3" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
			</div>
		</div>
		
		<div style="width:100%; display:flex; flex-wrap:wrap; justify-content:center; max-width:950px;">
        	<div class="subheading">
        		Lyrics
            </div>
			
        	<div style="text-align:left; width:350px; font-size:1.2em; margin:auto; margin-top:0px;">
            	<strong>1</strong><br>
				A-wee-ee-ee-ee-ee-em-em-oweh x2<br>
				A-weemo-weh x16<br><br>
			</div>
            
            <div style="text-align:left; width:350px; font-size:1.2em; margin:auto; margin-top:0px;">
                <strong>2</strong><br>
                In the jungle, the mighty jungle<br>
				The lion sleeps tonight<br>
				In the jungle the quiet jungle<br>
				The lion sleeps tonight<br>
				A-wee-ee-ee-ee-ee-em-em-oweh x2<br><br>
       		</div>
            
            <div style="text-align:left; width:350px; font-size:1.2em; margin:auto; margin-top:0px;">
            	<strong>3</strong><br>
                Near the village the peaceful village<br>
				The lion sleeps tonight<br>
				Near the village the quiet village<br>
				The lion sleeps tonight<br><br>
                A-wee-ee-ee-ee-ee-em-em-oweh x2<br><br>
            </div>
            
            <div style="text-align:left; width:350px; font-size:1.2em; margin:auto; margin-top:0px;">
            	<strong>4</strong><br>
                Hush my darling don't fear my darling<br>
				The lion sleeps tonight<br>
				Hush my darling don't fear my darling<br>
				The lion sleeps tonight<br>
				A-weemo-weh x24<br>
				A-wee-ee-ee-ee-ee-em-em-oweh...<br><br>
            </div>
		
		</div>
			
<!--
		<div style="width:100%; font-size:1.5em; font-weight:bold; background-color:#99ddff;">
			Embedded Video
		</div>
-->
	</div>
	
	<div style="display:flex; flex-wrap:wrap; justify-content:center;">
		<h1 style="width:100%; text-align:center;">More Songs</h1>
		
		{% include song_links.html %}    
	</div>
	
	<div class="notecomments">
        {% include disqus.html %}	 
    </div>
</div>
