---
layout: default
title: English Stories - Wolf Wig | Tralinge
---

<div style="max-width:1000px; margin:auto; text-align:center;">
    <h1>Wolf Wig</h1>
         
    <div style="margin:auto; max-width:500px;">
        <a target="_blank" href="https://www.tralinge.com/english_corner/stories/shorts/wolf_wig.pdf">
                <img class="picshad" src="https://www.tralinge.com/english_corner/stories/shorts/wolf_wig.PNG" alt="wolf wig" 
                style="width:100%; border-radius:10%;">
        </a>
    </div>
    
    {% include story_links.html %}
    
    <div class="notecomments">
        {% include disqus.html %}	 
    </div>
</div>
