---
layout: default
title: English Stories - Zebra Bread | Tralinge
---

<div style="max-width:1000px; margin:auto; text-align:center;">
    <h1>Zebra Bread</h1>
         
    <div style="margin:auto; max-width:300px;">
        <a target="_blank" href="https://www.tralinge.com/english_corner/stories/shorts/zebrabread.pdf">
                <img class="picshad" src="https://www.tralinge.com/english_corner/stories/shorts/zebrabread.png" alt="zebrabread" 
                     style="width:100%; border-radius:10%;">
        </a>
    </div>
    
    {% include estory_links1.html %}
    {% include story_links.html %}
    
    <div class="notecomments">
        {% include disqus.html %}	 
    </div>
</div>
