---
layout: default
title: Tralinge | Stories - Dur
---
{% include responsive.html %}

<body>
    <h1>Dur the Furry Lemur</h1>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="https://www.tralinge.com/english_corner/stories/dur/dur 1of4.jpg">
                <img src="https://www.tralinge.com/english_corner/stories/dur/dur 1of4.jpg" alt="dur 1/2" width="400">
        </a>
        <div class="desc">Phonics Stories - er/ir/ur - Dur the Purring Lemur 1/4</div>
      </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="https://www.tralinge.com/english_corner/stories/dur/dur 2of4.jpg">
                <img src="https://www.tralinge.com/english_corner/stories/dur/dur 2of4.jpg" alt="dur 1/2" width="400">
        </a>
        <div class="desc">Phonics Stories - er/ir/ur - Dur the Purring Lemur 2/4</div>
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="https://www.tralinge.com/english_corner/stories/dur/dur 3of4.jpg">
                <img src="https://www.tralinge.com/english_corner/stories/dur/dur 3of4.jpg" alt="dur 1/2" width="400">
        </a>
        <div class="desc">Phonics Stories - er/ir/ur - Dur the Purring Lemur 3/4</div>
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="https://www.tralinge.com/english_corner/stories/dur/dur 4of4.jpg">
                <img src="https://www.tralinge.com/english_corner/stories/dur/dur 4of4.jpg" alt="dur 1/2" width="400">
        </a>
        <div class="desc">Phonics Stories - er/ir/ur - Dur the Purring Lemur 4/4</div>
      </div>
    </div> 
    
   <div class="responsive" style="clear: both;">
        <audio controls>
            <source src="https://www.tralinge.com/english_corner/stories/dur/dur.ogg" type="audio/ogg">
            <source src="https://www.tralinge.com/english_corner/stories/dur/dur.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>
    
    {% include story_links.html %}
    
</body>
