---
layout: default
title: English Stories - Dur | Tralinge
---
<h1 style="text-align:center;">Dur the Purring Lemur</h1>

<div style="text-align:center;">
    <audio controls>
        <source src="https://www.tralinge.com/english_corner/stories/dur/dur.ogg" type="audio/ogg">
        <source src="https://www.tralinge.com/english_corner/stories/dur/dur.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
</div>

<div style="display:flex; flex-wrap:wrap; width:100%; max-width:1000px; margin:auto;">
    <!-- Flipbook -->
    <div style="margin:auto; margin-top:0px; width:100%; max-width:400px; text-align:center;">
    <h2>Flipbook</h2>
        <div>
          <iframe style="height:350px; border-radius:15px;" src="https://s3.amazonaws.com/online.anyflip.com/ghmc/xewg/index.html"  
                  seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" >
          </iframe>
        </div>
    </div>

    <!-- Coloring Pages -->
    <div style="display:flex; flex-wrap:wrap; width:100%; max-width:450px; margin:auto; margin-top:0px; text-align:center;">
        <h2 style="width:100%;">Coloring Pages</h2> 

        <div style="margin:auto;">
              <a target="_blank" href="https://www.tralinge.com/english_corner/stories/dur/dur1of4.jpg">
                  <img class="picshad" src="https://www.tralinge.com/english_corner/stories/dur/dur1of4.jpg" 
                       alt="dur 1/4" style="width:130px; border-radius:15px; padding:5px;">
              </a>
              <div class="desc">Part 1</div>
        </div>
        
        <div style="margin:auto;">
              <a target="_blank" href="https://www.tralinge.com/english_corner/stories/dur/dur2of4.jpg">
                  <img class="picshad" src="https://www.tralinge.com/english_corner/stories/dur/dur2of4.jpg" 
                       alt="dur 2/4" style="width:130px; border-radius:15px; padding:5px;">
              </a>
              <div class="desc">Part 2</div>
        </div>
        
        <div style="margin:auto;">
              <a target="_blank" href="https://www.tralinge.com/english_corner/stories/dur/dur3of4.jpg">
                  <img class="picshad" src="https://www.tralinge.com/english_corner/stories/dur/dur3of4.jpg" 
                       alt="dur 3/4" style="width:130px; border-radius:15px; padding:5px;">
              </a>
              <div class="desc">Part 3</div>
        </div>
        
        <div style="margin:auto;">
              <a target="_blank" href="https://www.tralinge.com/english_corner/stories/dur/dur4of4.jpg">
                  <img class="picshad" src="https://www.tralinge.com/english_corner/stories/dur/dur4of4.jpg" 
                       alt="dur 4/4" style="width:130px; border-radius:15px; padding:5px;">
              </a>
              <div class="desc">Part 4</div>
        </div>
    </div>
</div> 

{% include estory_links1.html %}
{% include story_links.html %}

{% include disqus.html %}
